pymongo == 3.2.2
celery == 3.1.23
Flask == 0.10.1
html2text == 2016.4.2
PyMySQL == 0.7.2
tornado == 4.3
amqp==1.4.9
eventlet==0.19.0
greenlet==0.4.9
kombu==3.0.35
lxml==3.4.1
pyOpenSSL==0.14
pytz==2016.4
redis==2.10.3
tornado==4.3
flower
